In [1]:
import pandas as pd
import boto3
from io import StringIO
import time

In [2]:

# AWS credentials and configuration
AWS_ACCESS_KEY = "AKIAUK62XDWM3M7RGQWN"
AWS_SECRET_KEY = "k7LvH/DUYlxvCWRsHqJPHe7lfjbK/27CNpTbN+Nf"
#aws_session_token = 'YOUR_SESSION_TOKEN'  # Optional, remove if not needed
AWS_REGION = "us-east-1"
SCHEMA_NAME = "covid-project-dataset"
S3_STAGING_DIR = "s3://athena-output-covid-dataset/output/"
#s3_bucket_name = "athena-output-covid-dataset"
S3_BUCKET_NAME = "athena-output-covid-dataset"
S3_OUTPUT_DIRECTORY = "output"

In [3]:
athena_client = boto3.client(
    "athena", 
    aws_access_key_id = AWS_ACCESS_KEY, 
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION,
)

In [4]:
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
)-> pd.DataFrame: 
    while True:
        try:
            #This fucntion only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId = query_response["QueryExecutionId"]
            )
            break
        except Exception as  err:
            if "not yet finished" in str(err):
                time.sleep(1)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
    "s3",
    aws_access_key_id = AWS_ACCESS_KEY, 
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION,
    )
    s3_client.download_file(
    S3_BUCKET_NAME,
    f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
    temp_file_location,    
    )
    return pd.read_csv(temp_file_location)

In [5]:
response = athena_client.start_query_execution(
        QueryString="SELECT * FROM list_of_orders_csv",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration":{"EncryptionOption": "SSE_S3"},
            },
        )
list_orders = download_and_load_query_results(athena_client, response)

In [6]:
response = athena_client.start_query_execution(
        QueryString="SELECT * FROM order_details_csv",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration":{"EncryptionOption": "SSE_S3"},
            },
        )
order_details = download_and_load_query_results(athena_client, response)

In [7]:
response = athena_client.start_query_execution(
        QueryString="SELECT * FROM sales_target_csv",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration":{"EncryptionOption": "SSE_S3"},
            },
        )
sales_target = download_and_load_query_results(athena_client, response)

In [8]:
list_orders.head()

       col0        col1          col2            col3       col4
0  Order ID  Order Date  CustomerName           State       City
1   B-25601  01-04-2018        Bharat         Gujarat  Ahmedabad
2   B-25602  01-04-2018         Pearl     Maharashtra       Pune
3   B-25603  03-04-2018         Jahan  Madhya Pradesh     Bhopal
4   B-25604  03-04-2018        Divsha       Rajasthan     Jaipur

In [9]:
order_details.head()

  order id  amount  profit  quantity     category      sub-category
0  B-25601  1275.0 -1148.0         7    Furniture         Bookcases
1  B-25601    66.0   -12.0         5     Clothing             Stole
2  B-25601     8.0    -2.0         3     Clothing       Hankerchief
3  B-25601    80.0   -56.0         4  Electronics  Electronic Games
4  B-25602   168.0  -111.0         2  Electronics            Phones

In [10]:
sales_target.head()

  month of order date   category   target
0              Apr-18  Furniture  10400.0
1              May-18  Furniture  10500.0
2              Jun-18  Furniture  10600.0
3              Jul-18  Furniture  10800.0
4              Aug-18  Furniture  10900.0

Replacing the headers as the current headers for table list_orders was col0 col1 etc.

In [11]:
new_header = list_orders.iloc[0]

In [12]:
new_header

col0        Order ID
col1      Order Date
col2    CustomerName
col3           State
col4            City
Name: 0, dtype: object

In [13]:
list_orders = list_orders[1:]

In [14]:
list_orders.columns = new_header

In [15]:
list_orders.head()

0 Order ID  Order Date CustomerName           State       City
1  B-25601  01-04-2018       Bharat         Gujarat  Ahmedabad
2  B-25602  01-04-2018        Pearl     Maharashtra       Pune
3  B-25603  03-04-2018        Jahan  Madhya Pradesh     Bhopal
4  B-25604  03-04-2018       Divsha       Rajasthan     Jaipur
5  B-25605  05-04-2018      Kasheen     West Bengal    Kolkata

In [47]:
dimOrders = list_orders[['Order ID','Order Date','CustomerName','State','City']]

In [32]:
dimSales = sales_target [['month of order date','category','target']]

In [18]:
factOrderDetails = order_details [['order id','amount','profit','quantity','category','sub-category']]

In [33]:
bucket = 'covid-project-data-pipline'

In [48]:
csv_buffer = StringIO()

In [49]:
csv_buffer

In [22]:
factOrderDetails.to_csv(csv_buffer)

In [23]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/factOrderDetails.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'C12HSVKZ5P6DW078',
  'HostId': 'z3Kggie35WpybMOKYeQdle7hZnGvDMFma6sBAca8gUeFm5HLOjUP80fUfWWXAe6UIYCwNKRjyJA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'z3Kggie35WpybMOKYeQdle7hZnGvDMFma6sBAca8gUeFm5HLOjUP80fUfWWXAe6UIYCwNKRjyJA=',
   'x-amz-request-id': 'C12HSVKZ5P6DW078',
   'date': 'Sun, 28 Jan 2024 13:34:57 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"c72638cc60ace572a4dc0388f01c238e"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"c72638cc60ace572a4dc0388f01c238e"',
 'ServerSideEncryption': 'AES256'}

In [50]:
dimOrders.to_csv(csv_buffer)

In [51]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/dimOrders.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '01G42Z7ZNBR109DE',
  'HostId': '4iIDym3x83dHwmbrqXJ+Z7U+wR1UxcMzWTh5VsojgNwRuYB5O4DIL7vwkeVswrMNWiAvJ1DhYVQ=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '4iIDym3x83dHwmbrqXJ+Z7U+wR1UxcMzWTh5VsojgNwRuYB5O4DIL7vwkeVswrMNWiAvJ1DhYVQ=',
   'x-amz-request-id': '01G42Z7ZNBR109DE',
   'date': 'Sun, 28 Jan 2024 13:41:41 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"c4f5fb2671b12f2118558cfd964e79c0"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"c4f5fb2671b12f2118558cfd964e79c0"',
 'ServerSideEncryption': 'AES256'}

In [36]:
dimSales.to_csv(csv_buffer)

In [37]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/dimSales.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'SD5VNJ312VAKWQWM',
  'HostId': '1CoRgHxnalKm1EPF6ekIOb3pQa55kMJ3wfwC3bpfdJfELK1E3G7IzcRT7JAbDLeLXaLUq8BKKTI=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '1CoRgHxnalKm1EPF6ekIOb3pQa55kMJ3wfwC3bpfdJfELK1E3G7IzcRT7JAbDLeLXaLUq8BKKTI=',
   'x-amz-request-id': 'SD5VNJ312VAKWQWM',
   'date': 'Sun, 28 Jan 2024 13:39:32 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"df5069a79447e6ccf0a64d662b175208"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"df5069a79447e6ccf0a64d662b175208"',
 'ServerSideEncryption': 'AES256'}

In [28]:
factOrderDetailssql = pd.io.sql.get_schema(factOrderDetails.reset_index(),'factOrderDetails')

In [29]:
print(''.join(factOrderDetailssql))

CREATE TABLE "factOrderDetails" (
"index" INTEGER,
  "order id" TEXT,
  "amount" REAL,
  "profit" REAL,
  "quantity" INTEGER,
  "category" TEXT,
  "sub-category" TEXT
)

In [52]:
dimOrderssql = pd.io.sql.get_schema(dimOrders.reset_index(),'dimOrders')
print(''.join(dimOrderssql))

CREATE TABLE "dimOrders" (
"index" INTEGER,
  "Order ID" TEXT,
  "Order Date" TEXT,
  "CustomerName" TEXT,
  "State" TEXT,
  "City" TEXT
)

In [38]:
dimSalessql = pd.io.sql.get_schema(dimSales.reset_index(),'dimSales')
print(''.join(dimSalessql))

CREATE TABLE "dimSales" (
"index" INTEGER,
  "month of order date" TEXT,
  "category" TEXT,
  "target" REAL
)

In [40]:
 !pip install redshift_connector

Requirement already satisfied: redshift_connector in c:\users\ayesha.noorain\anaconda3\lib\site-packages (2.0.918)
Requirement already satisfied: setuptools in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from redshift_connector) (63.4.1)
Requirement already satisfied: lxml>=4.6.5 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from redshift_connector) (4.9.1)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from redshift_connector) (1.4.4)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from redshift_connector) (1.34.26)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from redshift_connector) (1.34.26)
Requirement already satisfied: packaging in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from redshift_connector) (21.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from redshift_connector) (2022.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from redshift_connector) (4.11.1)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from redshift_connector) (2.28.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.3.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.10.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2.0.4)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from packaging->redshift_connector) (2.4.7)
Requirement already satisfied: six>=1.5 in c:\users\ayesha.noorain\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)

In [53]:
import redshift_connector

In [54]:
conn = redshift_connector.connect(
    host='default-workgroup.298422050201.us-east-1.redshift-serverless.amazonaws.com',
    #port=5439, # or another port if you have changed the default
    database='dev',
    user='admin',
    password='Ayesha!1'
)

In [55]:
conn.autocommit = True

In [56]:
cursor = redshift_connector.Cursor = conn.cursor()

In [ ]:
cursor.execute(""" 
CREATE TABLE "factOrderDetails" (
"index" INTEGER,
  "order id" TEXT,
  "amount" REAL,
  "profit" REAL,
  "quantity" INTEGER,
  "category" TEXT,
  "sub-category" TEXT
)
""")

cursor.execute("""
CREATE TABLE "dimOrders" (
"index" INTEGER,
  "Order ID" TEXT,
  "Order Date" TEXT,
  "CustomerName" TEXT,
  "State" TEXT,
  "City" TEXT
)
""")

cursor.execute("""
CREATE TABLE "dimSales" (
"index" INTEGER,
  "month of order date" TEXT,
  "category" TEXT,
  "target" REAL
)
""")

In [ ]:
cursor.execute("""
copy factOrderDetails from 's3://covid-project-data-pipline/output/factOrderDetails.csv'
credentials 'aws_iam_role=arn:aws:iam::298422050201:role/service-role/AmazonRedshift-CommandsAccessRole-20240127T125351'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

In [57]:
cursor.execute("""
copy dimOrders from 's3://covid-project-data-pipline/output/dimOrders.csv'
credentials 'aws_iam_role=arn:aws:iam::298422050201:role/service-role/AmazonRedshift-CommandsAccessRole-20240127T125351'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

In [46]:
cursor.execute("""
copy dimSales from 's3://covid-project-data-pipline/output/dimSales.csv'
credentials 'aws_iam_role=arn:aws:iam::298422050201:role/service-role/AmazonRedshift-CommandsAccessRole-20240127T125351'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")